@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: block;
  visibility: visible;
  opacity: 1;
}

#app {
  min-height: 100vh;
  width: 100%;
  display: block;
  position: relative;
}

#app-wrapper {
  min-height: 100vh;
  width: 100%;
  display: block;
  position: relative;
}

